<a href="https://colab.research.google.com/github/coderanandmaurya/Linear-Regression/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [58]:
URL="https://raw.githubusercontent.com/coderanandmaurya/Linear-Regression/main/Price.csv"
data=pd.read_csv(URL)
data.head(5)

   Area (sqft)  Price ($)
0         2000      88600
1         1600      71600
2         1980      93300
3         1840      84300
4         1710      80600

# **Steps**
- Step 1: Data preprocessing & EDA
- Step 2: Data Selection
- Step 3: Model Selection
- Step 4: Model Testing & Deployment

## **Data Preprocessing**
- information
- Duplicacy
- nan value

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area (sqft)  40 non-null     int64
 1   Price ($)    40 non-null     int64
dtypes: int64(2)
memory usage: 768.0 bytes

In [60]:
data.isnull().sum()

Area (sqft)    0
Price ($)      0
dtype: int64

# **Data Selection**

In [61]:
input_col=data.iloc[:,0]
target_col=data.iloc[:,1]

In [62]:
input_col.sample(4)

1     1600
15    1520
13    1700
11    1720
Name: Area (sqft), dtype: int64

In [63]:
target_col.sample(4)

20    82600
26    68700
5     75200
12    74500
Name: Price ($), dtype: int64

# **Train Test Split**

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input_col,target_col,test_size=0.2)

In [65]:
x_train.shape

(32,)

In [66]:
y_train.shape

(32,)

In [67]:
x_train = x_train.values.reshape(-1, 1)
y_train = y_train.values.reshape(-1, 1)
x_test = x_test.values.reshape(-1, 1)
y_test = y_test.values.reshape(-1, 1)

# **Model Selection**

In [70]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()

In [71]:
Regression_model=LR.fit(x_train,y_train)

In [72]:
y_pred=Regression_model.predict(x_test)

In [73]:
y_pred.shape

(8, 1)

# **Prediction model score**

In [79]:
print(LR.score(x_test, y_test))

0.9006070281372173

In [74]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)

In [75]:
mse

4966527.0326165715

In [76]:
rmse = mean_squared_error(y_true=y_test,y_pred=y_pred,squared=False)

In [77]:
rmse

2228.570625449544